*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1140px; */

    font-family: "Krub", sans-serif;
    font-weight: 500;   

    background-color: #f7f9fc;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(163, 211, 229); */
    padding: 10px;
    margin: 10px;

    border: 3px solid #bfdddf;
    border-radius: 15px; /* ทำให้ขอบโค้งมน */
}

.header-1 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    align-items: center;
    padding: 10px;
}

.header-2 {
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.header-img-1 {
    align-items: center;
    cursor: pointer;
}

.header-img- {
    align-items: center;
    cursor: pointer;
}


.about {
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.about-1 {
    padding: 10px;
    margin-bottom: 10px;
}

.about-img-1 {
    border-radius: 50%;
}

.skill {
    margin: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;
}

.skill-1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    /* margin-bottom: 10px; */
    padding: 10px;
}

.portfolio {
    margin: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;
}

.contact {
    margin: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;
}

.contact2 {
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.contact-1 {
    padding: 10px;
    margin-bottom: 10px;
}

.footer {
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

html.dark{
    background-color: black;
    
    *{
        background-color: black;
        color: white;
    }

    
}
